<div
  class="avatar-container"
  [style.width.px]="size"
  [style.height.px]="size"
  [class.online]="user?.IsOnline"
>
  <ng-container *ngIf="user">
    <img
      *ngIf="user.Avatar; else initialAvatar"
      [src]="user.Avatar"
      [alt]="user.FullName"
      class="avatar-image"
    />
    <ng-template #initialAvatar>
      <div class="initial-avatar" [style.fontSize.px]="size * 0.4">
        {{ ChatUtil.getInitials(user.FullName) }}
      </div>
    </ng-template>
  </ng-container>
  <div *ngIf="!user" class="default-avatar">
    <mat-icon [style.fontSize.px]="size * 0.6">account_circle</mat-icon>
  </div>
  <div *ngIf="showStatus" class="status-indicator"></div>
</div>
